header{
    font-family:'Lemonada',cursive;
}
.footer{
    background-color: #89c74a;
}
.footer-icon{
    color: #89c74a;
    font-size: 26px;
    width: 26px;
    margin: auto;
}
.icon-image{
    height: 65px;
    width: 65px;
    border-radius: 50%;
}
.header{
    display: grid;
    grid-template-areas: "heading navigation icon";
    column-gap: 2rem;
}
.header-inline-menu{
    grid-area: navigation;
}
.searchbtn{
    background-color: #89c74a;
}