body{
    overflow-x: hidden;
}
/* header css */
.GrocaLogo{
    height: 100px;
    width: 100px;
}
header{
    font-family:'Lemonada',cursive;
}
.header{
    display: grid;
    grid-template-areas: "heading navigation icon";
    column-gap: 2rem;
}
.heading{
    background-color: #89c74a;
}
.searchbtn{
    background-color: #89c74a;
}
/* SlideShow CSS */
/* common class */
.custom-caption {
    bottom: 20%;
    padding: 20px;
}
/* first slide */
.caption-slide1 h2 {
    font-size: 1.8rem;
    color: #333;
}
.caption-slide1 h1{
    color: #d08126;
}
.caption-slide1 button{
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
background-color:#d08126;
}
/* second slide */
.caption-slide2 {
  right: 10%;  /* Push content away from the edge */
  left: auto;  /* Disable default centering */
  text-align: right;
}

.caption-slide2 h2 {
    font-size: 2rem;
    color: #28a745;
}

.caption-slide2 h1 {
    font-size: 2.8rem;
}
/* third slide */
.caption-slide3 h1 {
    font-size: 2.5rem;
}

.caption-slide3 p {
    margin: 0;
}

.carousel-caption a.btn {
    margin-top: 15px;
    padding: 10px 30px;
    font-size: 1rem;
}

.carousel-item img {
    object-fit: cover;
    height: 80vh;
}
/* our product design */
/* Product icon circles */
.product-icon {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  transition: transform 0.3s ease;
}



/* Individual background colors */
.milk-bg {
  background-color: #8dd666;
}

.fruit-bg {
  background-color: #f8b8c6;
}

.flour-bg {
  background-color: #c7e3fb;
}

.meat-bg {
    color: white;
  background-color: #fde8a3;
}

.veg-bg {
  background-color: #eec5df;
}

.egg-bg {
  background-color: #e1edff;
}

/* Hover effect */
.product-icon:hover {
  transform: scale(1.1);
}


/* about us css */
.hero-section {
      background: url('Img/aboutusbgImg.jpg') center/cover no-repeat;
      color: black;
      padding: 100px 0;
      text-align: center;
    }
    .hero-section h1 {
      font-size: 3rem;
      font-weight: bold;
    }
    .section-padding {
      padding: 60px 0;
    }
    .highlight {
      color: #28a745;
      font-weight: 600;
    }

/* footer css */
.footer{
    /* background-color: #89c74a; */
}
.support-block{
    background-color: #89c74a;
}
.footer-icon{
    color: #89c74a;
    font-size: 26px;
    width: 26px;
    margin: auto;
}
.icon-image{
    height: 65px;
    width: 65px;
    border-radius: 50%;
}
.footerimg{
    height: 500px;
    width: 100vw;
}
/* inpput box style */
input{
    border: 1px solid #0000001a;
}
/* Product Style */
.shop-action{
    visibility: hidden;
     transition: opacity 0.3s ease;
}
.product-card:hover .shop-action{
    visibility: visible;
}

a:hover{
    color: #89c74a;
}

