.navbar-custom {
      background-color:#6c64c9;
    }

    .navbar-custom .nav-link,
    .navbar-custom .dropdown-toggle {
      color: rgb(27, 22, 51) !important;
      font-weight: 500;
    }

    .navbar-custom .nav-link:hover {
      background-color: #6c64c9;
      border-radius: 5px;
    }

    /* Nested dropdown */
    .dropdown-submenu {
      position: relative;
    }

    .dropdown-submenu .dropdown-menu {
      top: 0;
      left: 100%;
      margin-left: 0;
      display: none;
    }

    .dropdown-submenu:hover > .dropdown-menu {
      display: block;
    }

    /* Bold heading in dropdown */
    .dropdown-header-bold {
      font-weight: bold;
      color: #6c64c9;
      font-size: 16px;
    }

    .dropdown-item:hover {
      background-color: #f8f9fa;
    }