 .carousel-item img {
  margin-top: 10px;
  height: 450px;
  width: auto;


}

.loginBtn{
  background:blue;
}

.sidebar .nav-link.active {
  background-color: #8B0000;
  color: white;


}

.loan-card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  height: 250px;
}

.loan-rate {
  font-size: 2rem;
  font-weight: bold;
  color: #8B0000;
}

.apply-btn {
  background-color: blue;
  color: white;
}

.apply-btn:hover {
  background-color: #a30000;
}

href:hover {
  background-color: blue;
}

a.list-group-item:hover {
  background-color: lightblue;
  color: #0056b3;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.d-flex {
  display: flex !important;
}


.stats-section {
  background: linear-gradient(90deg, #8b0044, #a40057);
  color: white;
  padding: 40px 0;
}

.stat-card {
  text-align: center;
}

.stat-card i {
  font-size: 2.5rem;
  margin-bottom: 10px;
  display: block;
}

.stat-value {
  font-size: 1.8rem;
  font-weight: bold;
}

.stat-label {
  font-size: 1rem;
  margin-top: 5px;
}

.carousel-item img {
  margin-top: 10px;
  height: 450px;
  ;
  width: auto;


}

.sidebar .nav-link.active {
  background-color: #8B0000;
  color: white;

}

.loan-card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  height: 250px;
}

.loan-rate {
  font-size: 2rem;
  font-weight: bold;
  color: #8B0000;
}

.apply-btn {
  background-color: blue;
  color: white;
}

.apply-btn:hover {
  background-color: #a30000;
}

href:hover {
  background-color: blue;
}

a.list-group-item:hover {
  background-color: lightblue;
  color: #0056b3;
}


.stats-section {
  background: linear-gradient(90deg, #8b0044, #a40057);
  color: white;
  padding: 40px 0;
}

.stat-card {
  text-align: center;
}

.stat-card i {
  font-size: 2.5rem;
  margin-bottom: 10px;
  display: block;
}

.stat-value {
  font-size: 1.8rem;
  font-weight: bold;
}

.stat-label {
  font-size: 1rem;
  margin-top: 5px;
} 
