.header-area{
    height: 100px;
}

.btn-round{
   background-image: -webkit-linear-gradient(rgb(51, 51, 125),rgb(176, 176, 220));
   border: none;
}

.btn-round:hover
    {
    font-size: 10px;
    line-height: 35px;
    transition:all ease-in;
}

.carousel-item img {
      margin-top: 10px;
      height: 450px;
      width: auto;
}